.idea/inspectionProfiles/
.idea/vcs.xml
.idea/*
website/.claude
build/
/cmake-build-debug/
/cmake-build-debug-coverage/
/cmake-build-release/

# Screenshots
assets/screenshots/*

# Docusaurus
website/node_modules
website/.docusaurus
website/build
website/.idea/
.claude
