#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake -B debian/build -DCMAKE_BUILD_TYPE=Release .

override_dh_auto_build:
	cmake --build debian/build -j2

override_dh_auto_install:
	mkdir -p debian/brakeza3d/opt/brakeza3d/bin
	cp debian/build/Brakeza3D debian/brakeza3d/opt/brakeza3d/bin/
	cp -r assets debian/brakeza3d/opt/brakeza3d/
	cp -r GLSL  debian/brakeza3d/opt/brakeza3d/
	cp -r config debian/brakeza3d/opt/brakeza3d/
	mkdir -p debian/brakeza3d/usr/bin
	printf '#!/bin/sh\ncd /opt/brakeza3d\nexec bin/Brakeza3D "$$@"\n' \
		> debian/brakeza3d/usr/bin/brakeza3d
	chmod 755 debian/brakeza3d/usr/bin/brakeza3d
